In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/mnt/c/Users/marcn/Documents/Ironhack/sharky/Data/attacks.csv', encoding="ISO-8859-1")
print(df.shape)
display(df.info())
df.sample(3)

(25723, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

None

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
22289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

We have 23 parameters related to 25723 different cases.
The good news is that we have many cases, the bad news is that the data has a lot of NaNs to be filled. 

We need to filter the data in order to work with it. Decide wether to keep or not each column. 

With the method .unique() we can check the different values of each column, I did so for the columns named 'Unnamed:22' and 'Unamed: 23', and discovered that the data in them is completly irrelevant to the study, so we can drop them. 
'

In [5]:
df.drop(axis=0, index=None, columns=['Unnamed: 23', 'Unnamed: 22'], level=None, inplace=True)

Another way to select data from the dataframe, is to try and imporve the data in the whole Data frame as it is and then to take from it the columns we are going to use, creating a new data frame insted of dropping data from the original one.

In [6]:
a = list(df['Year'].unique())
print(a[:20], len(a))

[2018.0, 2017.0, nan, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0, 2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0, 2002.0, 2001.0, 2000.0] 250

I will try to extract some data from this Data frame. First of all I would like to know how does the number of shark attacks evolve with time. If they have increased or decreased and if they have done so according to the growing rate of earth population. 

I would also like to study where do most of the attacks happen, what countries.

And last but not least, what are the human features that make people look more appetizing to sharks. Is it the Sex/Gender? Is it the Age? Or, maybe, the first letter of their name?


Now, let's hypothesize:
1. First, I think the evolution of Shark attacks during history will rapidly grow from the first ages until now. For two main reasons:
+ In the past most shark attacks weren't reported, so the bast majority of them won't be registered. I assume that we are going to observe a huge growth at some point, wherever we observe a huge slope in the increase of cases is probably where the attacks started to be reported more often. This makes the prior data less reliable, of course. 
+ The second reason that makes it grow is the rapid advance of the population growth in the planet, the more the human activity, the more the sharks are going to attack humans, right?


All in all, I belive that the number of attacks is going to increase with time, first it will increase very rapidly, then it will, probably, 
stabilize, due to the growth on the security and maybe the disminution of shark population, so even though it will still grow it won't do so accordingly to the groth of human population.


2. Where is it more likely that a shark attacks you? My guess, near the tropics. I think is where most of the shark population is placed. In this point of the project it will probably be interesting to study the Species that attack in each place, it will give us an insight on the places where each Specie is more commontly found. 

3. This is, probavly, the easiest part of the study. The ages where humans have more water activities, such as boating or surfing, are going to be the more affected by shark attacks, with a first quick look probably the more affected ages will be between the 20's and the 40's. Probably most of the attacks will be to men. Specially in the past, due to the systematic invisibility of women in society and also because Gener roles make men more reckless (For instance, if we had the data, I am sure that most of the historic cases in the data source are from white men). Lastly, the first letter in the name should be correlated to shark attacks, however we are probably going to find some correlation because there are names that are more common than others.

In [8]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [10]:
a = list(df['Sex '].unique())
print(a, len(a))

['F', 'M', nan, 'M ', 'lli', 'N', '.'] 7

In [11]:
a = list(df['Age'].unique())
print(a, len(a))

['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen', '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6', '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53', '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28', '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33', '2½', '13 or 14'] 158

In [13]:
a = list(df[''].unique())
print(a[:10], len(a))

['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', 'male', 'Gustavo Ramos ', 'Chris \x85', 'Jose Ernesto da Silva ', 'Cody High', 'Trey de Boer', 'Jei Turrell'] 5231